@import "tailwindcss";
@import "locomotive-scroll/dist/locomotive-scroll.css";
/* Optional: prevent default overflow scrolling */
html, body {
  height: 100%;
  overflow: hidden;
}
[data-scroll-container] {
  overflow: hidden;
}

[data-scroll-section] {
  position: relative;
}
body {
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", serif;
}
